body {
  background-color: #ffffff;
}

html,
body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

* {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
